#uib_page_1
{
    background:white;
}
#login
{
    background:white;color:black;
}

#fname,#lname,#emails,#uname,#pass1,#pass2
{
width: 96%;margin-top:10px;
}

#logo
{
    width: 130px;height: 130px;margin-top:40px;border-radius:50%;
}

#back
{
    width: 42px;height: 42px;border-radius:50%;
}
#name
{
    font-family: times new romans;color:black;text-shadow:0px 0px 3px whitesmoke;font-size: 40px;
}
#lgn-facebook
{
    width:40%;height: 35px;border-radius:3px;box-shadow: 0px 0px 3px black;color:white;border:solid 1px gray;background:rgb(100,100,255);font-weight:bold;
}
#lgn-google
{
    width:40%;height: 35px;border-radius:3px;box-shadow: 0px 0px 3px black;color:white;border:solid 1px gray;background:#8A0829;
}
#loginbtn
{
    width:94%;height:40px;border-radius: 5px;border:solid 1px whitesmoke;background:#F4F42F;
    box-shadow: 0px 0px 2px black;margin-top:10px;margin-bottom:10px;font-weight: bold; font-size: 17px; 
}
#signupbtn
{
    width:94%;height:40px;border-radius: 5px;border:solid 1px whitesmoke;background:#BABAAF;box-shadow: 0px 0px 1px black;margin-top:10px;margin-bottom:10px;font-weight: bold; font-size: 17px; 
}
#email
{
 width: 96%;height: 36px;border-radius: 3px;border: solid 1px gray;  margin-top: 20px; 
}


#password
{
  width: 96%;height: 36px;border-radius: 3px;border: solid 1px gray;  margin-top: 20px;   
}
#submitbtn
{
width: 36%;height: 36px;border-radius: 3px;border: solid 1px gray;  margin-top: 20px;  font-weight: bold; font-size: 17px;  
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#F3F781;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 0px 3px gray;
}

.sidenav a {
    padding: 5px 4px 2px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: solid 1px whitesmoke;
    display: block;
    transition: 0.3s;
    color:black;
   
}



.closebtn {
    position: absolute;
    top: 0;
    
    font-size: 17px !important;
    
    background: #FAFA08;
    width:100%;
    height: 42px ;
   
    color:black;font-weight: 800;
}

@media screen and (max-height: 450px) {
  
  .sidenav a {font-size: 18px;}
}